<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>History</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="mainContainer">
        <h1 class="title">History</h1>
        <h2 class="header">Lets see how you've done!</h2>
        <a href="/"><button class="historyButton" >Back To Home</button></a>
        <p></p>
    </div>
</body>
</html>