<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Riddle</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
<div class="mainContainer">
  <a class="titleButton" href="/">
    <h1 class="title">Daily Riddle!</h1>
  </a>
  <h2 class="header">Riddle me this...</h2>
  <a href="/history">
    <button class="historyButton">History</button>
  </a>
  
  <% if (locals.answered == null || !answered) { %>
    <div class="formContainer">
      <form method="post" action="submit">
        <label class="question" for="answer"><%= today.question %></label>
        <input class="textBox" type="text" id="answer" name="answer">
        <% if (locals.answered != null && !answered) { %>
          <button class="button" type="submit" style="background-color: red;">Try Again</button>
        <% } else { %>
          <button class="button" type="submit">Submit</button>
        <% } %>
      </form>

    </div>
  <% } else { %>
    <div class="formContainer">
      <h2 class="correctText">CORRECT!!!</h2>
    </div>
  <% } %>
</div>
  <img class="image" src="/TheRiddler.png" alt="The Riddler">
</body>
</html>