<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Riddler</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <div class="mainContainer">
  <h1 class="title">Daily Riddle!</h1>
  <h2 class="header">Riddle me this...</h2>
  <button class="historyButton">History</button>
  <div class="formContainer">
  <form>
    <label class="question" for="answer"><% today.question %></label>
    <input class="textBox" type="text" id="answer" name="answer">
    <button class="button" type="submit">Submit</button>
  </form>
</div>
</div>
  <img class="image" src="/TheRiddler.png" alt="The Riddler">
</body>
</html>