@font-face {
    font-family: 'riddle-upright'; 
    src: url('/fonts/Riddle-Upright.otf');
}

body {
    font-family: 'riddle-upright', sans-serif;
    margin: auto;
    background-color: #f0f0f0;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-bottom: 20vh;
    min-height: 70vh;
}

.title {
    color: #01b05f;
    text-align: center;
    font-size: 4.5em;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.titleButton {
    text-decoration: none;
}

.header {
    color: #34495e;
    text-align: center;
    font-size: 2.5rem;
    margin-top: -0.5rem;
    margin-bottom: 1rem;
}

.card {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    width: 85%;
    max-width: 750px;
    padding: 2rem;
    margin: 1.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    width: 100%;
    text-align: center;
}

.question {
    display: block;
    font-family: 'Segoe UI';
    font-size: 1.2em;
    margin-bottom: 15px;
    color: #444;
    text-align: center;
    max-width: 90%;
}

.textBox {
    width: 80%;
    padding: 1rem;
    margin-bottom: 20px;
    border: 2px solid #3498db;
    border-radius: 5px;
    font-size: 1em;
    text-align: center;
}

.button {   
    background-color: #2ecc71;
    font-family: "Segoe UI";
    font-weight: bold;
    color: white;
    padding: 10px 20px;
    margin-right: 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #116233;
}

.historyButton:hover {
    background-color: #1b48ce;
}

.image {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: 20vw;
    max-height: 25vh;
    margin: 0;
    border-radius: 10px;
    z-index: 10;
}

.correctText {
    color: #2ecc71;
    font-size: 4em;
    font-weight: bold;
    text-align: center;
    margin-top: 1rem;
}

form {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.historyButton {
    background-color: #3498db;
    font-family: "Segoe UI";
    font-weight: bold;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
    margin: 1rem 0;
}

.historyTable {
    width: 100%;
    max-width: 1200px;
    margin: 2rem auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-collapse: collapse;
}

.historyTable th,
.historyTable td {
    border: 1px solid #ddd;
    padding: 12px 15px;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.historyTable th {
    background-color: #3498db;
    color: white;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.historyTable tr:nth-child(even) {
    background-color: #f9f9f9;
}

.historyTable tr:hover {
    background-color: #f1f1f1;
}

.historyTable caption {
    caption-side: top;
    font-size: 1.5em;
    margin-bottom: 10px;
    font-weight: bold;
}

.clearHistoryButton {
    background-color: #3498db;
    font-family: "Segoe UI";
    font-weight: bold;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}

.clearHistoryButton:hover {
    background-color: #1b48ce;
}

.trackerContainer {
    margin-top: 10px;
    display: flex;
    gap: 5px;
  }
  .tracker {
    width: 20px;
    height: 20px;
    background-color: grey;
    border: 1px solid #000;
  }